.nav-brand img {
  height: 64px;
}

.nav-brand {
  z-index: 1000;
  display: inline-block;
  position: relative;
}

nav {
  padding: 24px;
}

.field {
  display: inline-block;
  width: 100%;
}

.field input {
  width: 100%;
}

#driver-application-form .input-group {
  display: block;
  margin-bottom: 16px;
}
form#driver-application-form {
  width: 80%;
  max-width: 600px;
  display: inline-block;
  margin-top: 48px;
  padding-bottom: 84px;
}
label {
  display: block;
  text-align: left;
  font-size: 16px;
  color: #40de6b;
}
.input-group.submit {
  background: #ffff;
  text-align: left;
}

.input-group.submit button {
  background: #25843f;
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 7px 16px;
  border-radius: 4px;
}

.input-group .form-control:last-child,
.input-group textarea,
.input-group-addon:last-child,
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle {
  border: none;
  height: 41px;
  background: #efefef;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-group textarea {
  min-height: 120px;
}
.error {
  display: block;
  text-align: left;
  color: #cc2424;
  font-size: 12px;
  font-weight: 900;
}
.legal {
  text-align: left;
  font-size: 12px;
}

a,
a:hover,
a:focus,
a:active {
  color: #2a9c49;
  text-decoration: none;
}
h4 {
  color: #8b9a8c;
}

div#main {
  margin-top: 54px;
}

.image-icon-banner img {
  height: 128px;
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
.banner .moving-banner-img img {
  width: 100%;
  animation-name: banner;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes banner {
  from {
    transform: translate(0px, 5);
  }
  65% {
    transform: translate(20px, 0);
  }
  to {
    transform: translate(-0px, -5);
  }
}
.banner {
  padding: 56px 0;
  margin-top: -131px;
  background: black;
  /* display: inline-block; */
}

.banner h1 {
  font-weight: 900;
  color: #fff;
}
.banner-text {
  margin-top: 180px;
}
.image-icon-banner {
  margin-top: 62px;
}
form#driver-application-form h4 {
  text-align: left;
  margin-bottom: 32px;
}
button.call-to-action {
  color: #000;
  border: none;
  background: #2ecc34;
  padding: 4px 24px;
  font-size: 20px;
  margin-top: 6px;
  /* border-radius: 4px; */
  /* font-weight: 800; */
}
.menu {
  margin-top: -60px;
  text-align: right;
}

.menu a {
  padding: 8px 24px;
  background: #63cd37;
  position: relative;
  z-index: 1001;
  color: #000;
  font-size: 16px;
  /* font-weight:  900; */
}
div#why {
  padding-top: 64px;
  background: #efefefad;
  padding-bottom: 84px;
}

h2.text-center {
  color: #258340;
  margin-bottom: 32px;
}

.card-img img {
  height: 100px;
}

h2 {
  margin-bottom: 64px;
}
footer.text-center {
  margin: 0;
  padding: 18px;
  color: #888;
}

span.name {
  color: #2ecc34;
  font-weight: 900;
}
address {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 6px;
}
.loading {
  display: none;
  height: 48px;
  position: absolute;
  top: -6px;
}
.loading.on {
  display: inline-block;
}
.error-found {
  margin-bottom: 16px;
  background: #eee;
  display: block;
  padding: 8px;
  border-left: 4px solid #cc2423;
}
.error-found:empty {
  display: none;
}

body.dark {
  margin-top: 67px;
  background: #171515;
  color: #fff;
}
.logo img {
  height: 100px;
}
.water-mark {
  position: absolute;
}
.water-mark img {
  width: 33% !important;
}
